# xcode noise
*.mode1v3
*.pbxuser
*.perspective
*.perspectivev3
*.pyc
*~.nib/
project.xcworkspace/
xcuserdata/
build/*
temp/*

# osx noise
.DS_Store
profile


#AppCode

.idea/.name
.idea/encodings.xml
.idea/*.iml
.idea/find.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml


